

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	h1{ font-size: 4em; }
	h2{ font-size: 3em; }
	h3{ font-size: 2em; }
	
	
	/* ---------------------------------
	6. INTRO AREA
	--------------------------------- */
	
	.intro-section .image-wrapper{ position: relative; width: 100%; height: 300px; }
	
	.intro-section .intro{ margin: 0; width: 100%; padding-left: 0px; }
	
	
	/* ---------------------------------
	10. ABOUT AREA
	--------------------------------- */
	
	.about-section .image-wrapper{ display: none; }
	
	.about-section .about{ margin: 0; width: 100%; padding-left: 0px; }
	
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2.5em; }
	h3{ font-size: 1.8em; }
	h4{ font-size: 1.5em; }
	h5{ font-size: 1.2em; }
	
	/* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

	.section{ padding: 50px 0 20px; }

	.section .heading-area{ margin-bottom: 30px; }

	.btn{ padding: 10px 20px; }
	
	.btn-fill{ padding: 10px; } 
	
	
	/* SITE NAVIGATION */

	.site-navigation{ display: none; }
	

	/* ---------------------------------
	3. MENU
	--------------------------------- */
	
	header{ top: 0; border-bottom: 1px solid rgba(255,255,255, .1); }
	
	header .logo img{ margin: 12px 0; height: 36px; }
	
	
	/* BOTTOM AREA */
	
	header .main-menu{ text-align: left; display: none; float: none; clear: both; max-height: 400px;
		overflow: auto; border-top: 1px solid #ccc; background: #333; }
	
	header .main-menu > li{ display: block; float: none; border-bottom: 1px solid #444; }
	
	header .main-menu > li:last-child{ border-bottom: 0; }
	
	header .main-menu li > a{ display: block; border: 0; line-height: 1; height: auto; padding: 15px; background: none; }
	
	
	/* NAV ICON */
	
	.menu-nav-icon{ display: inline-block; float: right; }
	
	
	/* HOVER */
		
	header .main-menu > li > a:hover:after{ transform: translateX(0%); opacity: 0; }
	
	
	/* ---------------------------------
	4. SLIDER
	--------------------------------- */
	
	/* SCROLL DOWN BTN */

	.scroll-down-btn{ display: none; }
	
	
	/* ---------------------------------
	5. SOCIAL SECTION
	--------------------------------- */

	.social-section ul > li:first-child{ display: block; padding: 0px 0 12px; margin: 0 0 10px; }

	.social-section ul > li:first-child:after{ width: 100%; bottom: 0; left: 0; top: auto; }
	
	.social-section ul > li > a{ padding: 0; padding-right: 15px; }
	
	
	/* ---------------------------------
	13. FOOTER
	--------------------------------- */

	footer{ padding: 50px 0px 10px; }
	
}

/* Screens Resolution : 575px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 575px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 14px;  }
	
	
	/* ---------------------------------
	7. EVENT AREA
	--------------------------------- */

	.single-event .date{ width: 50px; padding: 15px 0; }

	.single-event .event-info{ padding-left: 65px; }
	
	
	/* ---------------------------------
	11. COUNTER SECTION
	--------------------------------- */

	.counter-section{ text-align: center; }
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	



}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	
	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	
}